@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root{
    /* paleta de cores do site */
    --bg_pag:rgba(250, 250, 250,1);
    --bg_destaque:rgba(240, 234, 230,1);
    --cor_botao:rgba(213, 127, 31,1);
    --clr_nav:rgba(17, 17, 17,1);
    --clr_footer:rgba(26, 26, 26,1);
    --clr_Wave: rgba(158, 252, 249,1);
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}


header{
    background-color: var(--clr_nav);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: var(--clr_Wave);
}

.vazio{
    height: 35px;
    width: 124px;
}

.fundo{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 67px;
    height: 820px;
    width: 100%;
}

.fundo img{
    width: 100%;
    height: 820px;
}

.fundo p{
    position: absolute;
    top: 30%;
    left: 58px;
}

.tridiv{
    display:flex;
    background-color: var(--bg_pag);
    justify-content: space-between;
}

.tridiv div{
    position: relative;
    margin: 60px 150px;
    align-items: center;
    display: inline-block;
    height: 353px;
    width: 293px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

/* Por algum motivo esta funcionando, então vou deixar o código adicional pra previnir o código de quebrar */

.opacity{
    background-color: rgba(17, 17, 17,0);
    border-radius: 15px 15px 0px 0px;
    background-size: 353px 293px;
    height: 195px;
 /*    transition: all 0.5s ease-out; */
}

.opacity figure img{
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
}

.opacity img{
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
}

.opacity img:hover{
    opacity: 0.4;
}

.opacity figure img :hover{
    opacity: 1;
}

.desc-title{
    margin-top: 20px;
    color: rgba(0,0,0,1);
    font-family: Montserrat, sans-serif;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.desc-text{
    font-family: Montserrat, sans-serif;
    color: rgba(0,0,0,1);
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.destaque{
    background-color: var(--bg_destaque);
    height: 474px;
    width: 100%;
    display: inline-block;
}

.destaque img{
    padding-top: 71px;
    padding-left: 253px;
}

.txt-destaque{
    position: relative;
    right: auto;
}

.dest-title{
    color: rgba(16, 2, 1, 1);
    font-family: Montserrat, sans-serif;
    font-size: 43px;
    font-weight: 500;
}

.dest-text{
    color: rgba(16, 2, 1, 1);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}