@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root{
    /* paleta de cores do site */
    --bg_pag:rgba(250, 250, 250,1);
    --bg_destaque:rgba(240, 234, 230,1);
    --cor_botao:rgba(228, 123, 38, 1);
    ;
    --clr_nav:rgba(17, 17, 17,1);
    --clr_footer:rgba(26, 26, 26,1);
    --clr_Wave: rgba(158, 252, 249,1);
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}


header{
    background-color: var(--clr_nav);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

body{
    background-color: var(--bg_pag);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: var(--clr_Wave);
}

.vazio{
    height: 35px;
    width: 124px;
}

.fundo{
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 67px;
    height: 820px;
    width: 100%;
}

.fundo img{
    width: 100%;
    height: 820px;
}

.fundo p{
    position: absolute;
    top: 30%;
    left: 58px;
}

.tridiv{
    display:flex;
    background-color: var(--bg_pag);
    justify-content: space-between;
}

.tridiv div{
    position: relative;
    margin: 60px 150px;
    align-items: center;
    display: inline-block;
    height: 353px;
    width: 293px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

/* Por algum motivo esta funcionando, então vou deixar o código adicional pra previnir o código de quebrar */

.opacity{
    background-color: rgba(17, 17, 17,0);
    border-radius: 15px 15px 0px 0px;
    background-size: 353px 293px;
    height: 195px;
 /*    transition: all 0.5s ease-out; */
}

.opacity figure img{
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
}

.opacity img{
    position: absolute;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
}

.opacity img:hover{
    opacity: 0.4;
}

.opacity figure img :hover{
    opacity: 1;
}

.desc-title{
    margin-top: 20px;
    color: rgba(0,0,0,1);
    font-family: Montserrat, sans-serif;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.desc-text{
    font-family: Montserrat, sans-serif;
    color: rgba(0,0,0,1);
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.destaque{
    display: flex;
    background-color: var(--bg_destaque);
    height: 474px;
    width: 100%;
    justify-content:flex-start; 
}

.destaque div{
    display: inline-block;
    padding-left: 196px;
    /* border-style: solid; */
}

#hotstock{
    padding-top: 71px;
    padding-left: 253px;
}

/* 
.txt-destaque p{
    font-family: "Montserrat", sans-serif;
    color: rgba(16, 2, 1, 1);
}
 */

.destaque{
    margin-bottom: 94px;
}

 .destaque p{
     padding-left: 100px;
 }

.dest-title{
    color: rgba(16, 2, 1, 1);
    font-family: Montserrat, sans-serif;
    font-size: 43px;
    font-weight: 500;
    padding-bottom: 1px;
    padding-top: 138px;
} 

.dest-text{
    color: rgba(16, 2, 1, 1);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
} 


.dest-preco{
    color: var(--cor_botao);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight:600;
    padding-bottom: 4px;
    
}

.btn-pecaja{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:lighter;
    padding: 10px 50px ;
    border-radius: 7px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--cor_botao);
    border-style: none;
}

/* .imagem4{
    padding-top: 94px;
} */


.imagem4 div{
    display: inline-block;
/*     border: solid; */
/*     display: inline-block; */

}

.img1{
    background-image: url(/img/onigiri.png);
    width: 512px;
    height: 344px;
    text-align: left;
    margin-top: 5px;
}

.img2{
    background-image: url(/img/pearlmilktea.png);
    width: 512px;
    height: 344px;
    text-align: left;
    margin-left: 94px;
}
.img3{
    background-image: url(/img/karaage.png);
    width: 512px;
    height: 344px;
    text-align: left;
    margin-top: 94px;
}
.img4{
    background-image: url(/img/omurice.png);
    width: 512px;
    height: 344px;
    text-align: left;
    margin-left: 94px;
    margin-bottom: 94px;
}

.img-title1{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 263px;
    padding-top: 84px;
}

.img-title2{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 84px;
    padding-left: 53px;
/*     margin-top: 9px; */
}

.img-text1{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 263px;
    padding-top: 10px;
}

.img-text2{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 53px;
    padding-top: 10px;
}

.img-preco1{
    color: var(--cor_botao);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight:600;
    padding-left: 263px;
    padding-top: 5px;
}

.img-preco2{
    color: var(--cor_botao);
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight:600;
    padding-left: 53px;
    padding-top: 5px;
}

.btn-pecaja1{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:lighter;
    padding: 10px 50px ;
    border-radius: 7px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--cor_botao);
    border-style: none;
    margin-top: 11px;
    margin-left: 263px;
}

.btn-pecaja2{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight:lighter;
    padding: 10px 50px ;
    border-radius: 7px;
    color: rgba(255, 255, 255, 1);
    background-color: var(--cor_botao);
    border-style: none;
    margin-top: 11px;
    margin-left: 53px;
}

footer{
    width: 100%;
    height: 203px;
    box-sizing: border-box;
    background-color:var(--clr_footer);
    margin-top: auto;
}

.logo_container img{
    margin-top: 12px;
    margin-left: 108px;
    width: 100px;
    height: auto;
}

.social_media{
    padding-top: 43px;
}

.footertext{
    font-family: "Roboto", sans-serif;
    padding-top: 11px;
    font-size: 20px;
    color: #D6D6D6;
}

.footercpright{
    font-family: "Roboto", sans-serif;
    padding-top: 11px;
    font-size: 20px;
    color: #777777;
}